
<button (click)="goBack()">Go Back</button>


<div class="videoDisplay" *ngIf="video">
<div >
  <video width="800" height="500" Autoplay=autoplay controls >
    <source src={{video.path}} type='video/{{video.format}}'>
  </video>
</div>
</div>
<div class="title">{{video.title}}</div>
<div class = "descriptionTitle" > Description:
    <!--<app-description></app-description>-->
</div>
<!--<div class = "commentsTitle" > Comments:-->
    <!--&lt;!&ndash;<app-description></app-description>&ndash;&gt;-->
<!--</div>-->
<div class="description">  {{video.description}}</div>
<div class="commentsDisplay" >
    <app-comments  [comments] = "comments"></app-comments>
</div>


