 <div class="title">{{video.title}}</div>
 <span class="description">{{video.description}}</span>
<div class="videoDisplay" *ngIf="video">
<div >
  <video width="600" height="400" Autoplay=autoplay controls >
    <source src={{video.path}}  type='video/{{video.format}}'>
  </video>
</div>
</div>
<div class="commentsDisplay" >
  <app-comments  [comments] = "comments"></app-comments>>
</div>

<!--<li *ngFor="let comment of comments"></li>-->
<div>Insert Comments</div>
<button (click)="goBack()">go back</button>
