.outer {
    text-align: center;
}

.inner{
    margin-top: 5px;
    position: absolute;
    display:grid;
    grid-template-columns: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 30px 30px;
    border:2px solid rgba(235, 240, 243, 0.836);
    text-align: center;
    border-radius: 25px;
    background-color: transparent;
}

.grid{
    display:grid;
    grid-template-columns: auto auto;
    padding: 5px;
    position: relative;

}
.grid-label{
    text-align: right;
    border-radius: 10px;
}

.grid-input{
    text-align: right;


}
.grid-input:hover{

}
.top-spacing{
    margin-top: 1px;
}
label {
    margin-left: auto;
    padding: 1em;
    color: white;
    padding-top: 1px;
    text-align: left;

   font-family: "American Typewriter"

}
input {
    color:black;
    font-family: sans-serif;
    align-self: center;
  position: relative;
  }

.uploadSelect{
    text-align: center;
    border: #039be5;
    color: #EEEEEE;


}
.submit{
  border: 2px solid #ccc;
  background-color: transparent;
  size: 30px;
  height: 40px;
  width: 130px;
  margin-left: 90px;
  border-radius: 25px;
    color: #EEEEEE;
    font-family: "American Typewriter";

}
.custom{
  /*border: 2px solid #ccc;*/
  /*background-color: #607D8B;*/
  /*padding-right: 6px;*/
  height: 6px;
  width: 130px;
  cursor: pointer;
  text-align: center;
  margin-left: 90px;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: -5px;

}
