<div class = "outer" >
  <div class = "inner" >
    <div class = "grid">
      <div class="grid-label">
        <label>Title</label></div>
      <div class="grid-input">
        <input placeholder="Enter the title" [(ngModel)]="title"/></div>
      <div class="grid-label">
        <label>Description</label></div>
      <div class="grid-input">
        <input placeholder="Enter the description"[(ngModel)]="description"/></div>
    </div>        
  <input class = "uploadSelect" (change)="upload()" type="file" #fileInput accept="video/mp4"/>
</div>
</div>