/* DashboardComponent's private CSS styles */

/*.line {*/
  /*width:103%;*/
  /*height:4px;*/
  /*background-color: white;*/
  /*border:none;*/
  /*margin-top: 10px;*/
  /*left: 0;*/
/*}*/

[class*='col-'] {
    float: left;
    position: center;
    /*padding-right: 10px;*/
    /*padding-bottom: 20px;*/
  }

  [class*='col-']:last-of-type {
    /*padding-right: 20px;*/
  }
  a {
    text-decoration: none;
  }


@keyframes moveLeftToRight1 {
  0%   { left: -100px; }
  100% { left: 100%; }
}

  h3 {
    text-align: center;
    font-size: 40px;
    color: #EEEEEE;
    font-family: "American Typewriter";
    margin-top: 70px;
    /*animation: moveLeftToRight 10s linear infinite;*/
  }


  .col-1-4 {
    width: 300px;
    height: 250px;
    margin-top: 170px;
    margin-left: 50px;
    display: grid;
    grid-gap: -1px;
    border: 2px solid slategray;
    border-radius: 10px;
    background-color: black;
    /* background-image:url("../../assets/27.jpeg") ; */
    /*background-size: cover;*/
    /*background-position: center;*/
    color:darkgrey;
    animation: 0.7s curtain cubic-bezier(.86,0,.07,1) 0.4s both;

    /*position: relative;*/
    /*animation: moveLeftToRight 1s forwards;*/
    /*animation-delay: 2s;*/

   }

  .col-1-4:hover{
    transform: scale(1.2);
    opacity: 1;
    /*animation-fill-mode: forwards;*/
  }
  .module {
    margin-top: 0px;
    /*text-align: center;*/
    text-align-all: center;
    color: #eee;
    height: 60px;
    width: 300px;
    background-color: #888888;
    border-radius: 4px;
    font-family: "American Typewriter";
   padding-top: 10px;

  }
.title {

  text-align: center;
  margin-top: 0px;

}

  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
    /*transform: scale(1.2);*/
  }


  @keyframes moveLeftToRight {

    100% {
      left: 0;
    }
  }
  /*width: 100%;*/

@keyframes curtain {
  0% {
    grid-gap: 100vw;
  }

  100% {
    grid-gap: 0;
  }

}
video{
  padding-top: 0;
}
