/* DashboardComponent's private CSS styles */

/*.line {*/
  /*width:103%;*/
  /*height:4px;*/
  /*background-color: white;*/
  /*border:none;*/
  /*margin-top: 10px;*/
  /*left: 0;*/
/*}*/

[class*='col-'] {
    float: left;
    /*padding-right: 10px;*/
    /*padding-bottom: 20px;*/
  }

  [class*='col-']:last-of-type {
    /*padding-right: 20px;*/
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

@keyframes moveLeftToRight1 {
  0%   { left: -100px; }
  100% { left: 100%; }
}

  h3 {
    text-align: center;
    font-size: x-large;
    color: #EEEEEE;
    font-family: "American Typewriter";
    animation: moveLeftToRight 10s linear infinite;
  }


  .col-1-4 {
    width: 230px;
    height: 180px;
    margin-top: 100px;
    margin-left: 30px;
    display: grid;
    grid-gap: -px;
    border: 2px solid slategray;
    border-radius: 10px;
    background-color: black;
    /* background-image:url("../../assets/27.jpeg") ; */
    background-size: cover;
    background-position: center;
    color:darkgrey;
    animation:  moveLeftToRight 10s linear;
    position: relative;

   }

  .col-1-4:hover{
    transform: scale(1.2);
    opacity: 1;
    /*animation-fill-mode: forwards;*/
  }
  .module {
    margin-top: 0px;
    text-align: center;
    color: #eee;
    height: 40px;
    width: 225px;
    background-color: darkgray;
    border-radius: 2px;
    font-family: "American Typewriter";
  }
.title {

  text-align: center;
  margin-top: 0px;

}

  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
    /*transform: scale(1.2);*/
  }


  @keyframes moveLeftToRight {
  0%   { left: -100px; }
  100% { left: 100%; }
  }


