<!--<hr class="line" />-->
<div class="grid grid-pad">

  <h3>Top Videos</h3>

  <a *ngFor = "let video of videos" class="col-1-4"


  routerLink="/detail/{{video.id}}">
  <div>
  <video width="225" height="175">
    <source src={{video.path}}  type='video/{{video.format}}'>
  </video>
</div>
    <div class="module video">
      <h4 class="title">{{video.title}}</h4>
    </div>
  </a>
</div>


<!--
//folder/path/to/video.mp4
//different/path/to/thumbnail.jpeg

DB
Video:
path | thumbnail | description | title
-->
