/* VideoComponent's private CSS styles */

.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .videos {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .videos li {
    cursor: pointer;
    position: relative;
   margin-left: 20px;

    border: 1px solid lightcyan;
    margin-bottom: 10px;
    border-radius: 2px;
    alignment: center;
    background-image:url("../../assets/video-play-icon-7.png")  ;
    background-position-y: center;
    background-size: 25px;
    background-repeat:no-repeat;
  }
  .videos li.selected:hover {
    /*background-color: #BBD8DC !important;*/
    /*color: white;*/
    transform: scale(1.2);
  }
  .videos li:hover {
    /*color: #607D8B;*/
    /*background-color: #DDD;*/
    /*left: .1em;*/
    transform: scale(1.2);
  }
  .videos .text {
 
    position: relative;
    top: -3px;
  }
  .videos .badge {
    margin-left: 70px;
    display:flex;
    font-size: small;
    color: white;
    /*padding: 0.8em 0.7em 0 0.7em;*/
    background-color: transparent;
    /*line-height: 1em;*/
    position: relative;

    left: -1px;
    top: 4px;
    height: 40px;
    /*border: 3px solid lightcyan;*/
    /*border-radius: 2px;*/
    font-family: "American Typewriter";
    font-weight: normal;
    padding-bottom: auto;




  } 
h2{
  margin-top: 30px;
  margin-left: 10px;
  font-family: "American Typewriter";
  color: #DDDDDD;
}
