/* CommentComponent's private CSS styles */

.inputComment{
  /*position: center;*/
  margin-left: 750px;
  /*float: right;*/
  width: 500px;
  height: 70px;
  /*padding: 10px;*/
  background-color: snow;
  border-left: 6px solid black;
  font-family: sans-serif;
  border-radius: 2px;
  type: text;
  word-wrap: break-word;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
  /*padding-top: 30px;*/

}

/*.inputComment.break {*/
  /*word-wrap: break-word;*/
  /*word-break: break-all;*/
  /*height: 80px;*/
/*}*/
h2 {

    font-family: "American Typewriter";
    /*font-weight: bold;*/
    /*text-alignment: 700px;*/
    margin-left: 1350px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: #DDDDDD;
    font-size: xx-large;

  }
li{
  font-family: "American Typewriter";
  color: #DDDDDD;
  /*alignment: left;*/
  display: grid;
  border-radius: 2px;
  width: 400px;
  height: 100px;
  border: 3px outset lightcyan;
  padding-top: 30px;
  margin-bottom: 10px;
  box-shadow: #888888;
  text-align: center;

  /*padding-top: 120px;*/
  /*float: right;*/
}
.listView{

  /*position: center;*/
  margin-top: 20px;
  float: right;
  padding-right: 760px;
  position: center;
}
  body {
    margin: 2em;
  }
  body, input[text] {

    font-family: "American Typewriter";

  }
  .addButton{
    background: linear-gradient(135deg, gray,black);
    border-radius: 4px;
    /*display: inline-block;*/
    /*font-weight: bold;*/
    letter-spacing: 0.01em;
    color: white;
    width: 100vm;
    height: 70vm;
    font-family: "American Typewriter";
    margin-top: 70px;
    margin-left: -495px;
    margin-bottom: 0px;
    position: absolute;
  }
   
  button.clear {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  button.clear {
    color: #888;
    margin-bottom: 12px;
  }
