<!--<div *ngIf="commentService.comments.length">-->
  <h2>Comments:</h2>
  <!--<button class="clear"-->
          <!--(click)="commentService.clear()">clear</button>-->

<!--<input #newComment placeholder="comments">-->
<div>
<textarea class ="inputComment" type="text" [(ngModel)]= "newComment" placeholder="comments">
</textarea>
</div>
<button class="addButton" (click)="onClick()">
<!--<button (click)="addComment({{id}},newComment.value); newComment.value=''">-->
  Add Comment
</button>

  <li *ngFor='let comment of comments'> {{comment.comment}} </li>
<!--</div>-->
